body{
	background: #D5BAE1;
	background-size: cover;
	font-family: 'Signika',sans-serif;
	font-size: 14px;
	background-position: 50% 50%;
}

h3{
	font-family: 'Tahoma', sans-serif;
	color: #9b8fa0;
	text-align: center;
	line-height: none;
}

h5{
	font-family: 'Tahoma', sans-serif;
	color: #9b8fa0;
	text-align: center;
}
